.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### build files ###
/DCModel/build/
/DCRepository/build/
/DCService/build/
/DCController/build/
/DCWeb/build/

### out files ###
/DCModel/out/
/DCRepository/out/
/DCService/out/
/DCController/out/
/DCWeb/out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/